.reveal h1, .reveal h2 {
  font-family: san-serif;
}

.reveal pre {
  width: fit-content;
}

.reveal pre code {
  width: 100% !important;
  padding: 0.3em;
  border: solid 1px gray;
  border-radius: 5px;
}

.reveal code {
  font-family: monospace;
}